//  * * * COlors * * * *

.light-black {
    background-color: #141313;
}

.dark-black {
    background-color: #141313;
}

.yellow {
    color: #bf9e32;
}

.white {
    color: #ffffff;
}

.white__dark {
    color: #d4d4d5;
}

.red {
    color: #c52c2c;
}
